.detail-header {
  margin-bottom: 3rem;
}
.detail-header-item {
  display: flex;
  flex-direction: row;
  padding: 9rem 0;
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.detail-header-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* right: 0;
    bottom: 0; */
  width: 100%;
  height: 100%;
  background-color: var(--background-color-black-50);
  backdrop-filter: blur(0.7px);
}

.detail-header-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(
    to top,
    var(--color-primary-1-nearly-black),
    rgba(135, 135, 135, 0)
  );
}

.detail-backdrop {
  padding-left: 10vw;
  padding-top: 2vw;
  /* Frame 8 */
  border-radius: var(--radius-20-video);
  align-items: center;
  display: flex;
  justify-content: center;
  opacity: 1;
  z-index: 1;
}
.detail-backdrop img {
  width: 450px;
  border-radius: var(--radius-20-video);
}

.detail-title {
  /* justify-self: right;
  align-self: flex-end; */
  z-index: 1;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: calc(10px + 4.5vw);
  /* line-height: 85px; */

  color: #ffffff;
}
.frame1 {
  position: relative;
  /* width: 100%; */
  /* height: 75%; */
  align-items: top;
  flex-direction: column;
  display: flex;
  padding-left: 2vw;
  gap: 1vw;
  font-size: calc(10px + 0.7vw);
}

.watch-option-buttons {
  display: flex;
  flex-direction: row;
  gap: 1.1vw;
  /* opacity: 0px; */
  width: inherit;
  height: calc(25px + 4vh);
  border-radius: 10px;
  font-size: calc(10px + 0.7vw);
  /* margin-top: 70px; */
}
.Heart {
  display: flex;
  justify-content: center; /* CÄƒn giá»¯a theo chiá»u ngang */
  align-items: center; /* CÄƒn giá»¯a theo chiá»u dá»c */
  padding: 0;
  gap: 0; /* Äáº£m báº£o khĂ´ng cĂ³ khoáº£ng cĂ¡ch thá»«a */
  width: calc(15px + 2vw);
  height: inherit;

  background: #03abe0;
  border-radius: 10px;

  border: none;
  box-shadow: none;

  /* Flex khĂ´ng lĂ m thay Ä‘á»•i vá»‹ trĂ­ */
  flex: none;
  order: 2;
  flex-grow: 0;

  position: relative; /* Äáº£m báº£o khĂ´ng áº£nh hÆ°á»Ÿng bá»Ÿi position absolute tá»« cĂ¡c pháº§n tá»­ khĂ¡c */
  color: #ffffff;
}

.Heart svg {
  width: calc(5px + 1vw); /* Äáº£m báº£o kĂ­ch thÆ°á»›c cá»§a icon */
  height: calc(5px + 1vh);
  margin: 0;
}

.Watchnow {
  /* Button / Watch */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 11px;
  text-align: center;
  width: fit-content;
  height: inherit;
  box-shadow: none;
  flex-grow: 0;
}

.Watchnow p {
  /* font-size: 15px; */
  font-weight: 400 !important;
  color: #ffffff;
}
.Trailer {
  /* Frame 11 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 22px 10px 20px;
  gap: 7px;

  width: fit-content;
  height: inherit;

  /* white - 0.3 */
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 10px;

  border: none;
  box-shadow: none;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

  color: #ffffff;
}
.movie-info {
  /* Frame 760 */
  /* Avengers: Infinity War */

  /* Auto layout */
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2vh;
  /* width: 70%; */
  /* height: 348px; */
  right: 0;
  bottom: 0;
  z-index: 10;
}
.score {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  height: 4vh;
}

.rate-button {
  display: flex;
  flex-direction: row;
  gap: 0.4vw;
  width: fit-content; /* Chiều rộng cố định */
  height: inherit;
  /* margin: 1px; */
  background-color: #ffaa00f7;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  text-align: center;
  line-height: 4vh;
  /* font-size: 16px; */
  cursor: default;
  padding: 0 1vw;
}
.rate-button .avgRate {
  font-weight: 600;
}
.total-views {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  gap: 1vw;
  width: 80px; /* Chiều rộng cố định */
  height: 30px;
  margin: 1px;
  /* background-color: transparent; */
  color: white;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  font-weight: 400;
  /* font-size: 16px; */
  cursor: default;
}
.total-views svg {
  color: rgb(194, 194, 194);
}
.detail-header-item .rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* width: 558px; */
  /* height: 39px; */
  text-align: center;
  gap: 2vw;
  font-weight: 600;
}
.stars {
  display: flex;
  margin-right: 20px; /* Táº¡o khoáº£ng cĂ¡ch giá»¯a sao vĂ  pháº§n text */
  gap: 0.5vw;
}

.movie-info .genres {
  /* Frame 759 */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding: 0px; */
  gap: 1vw;

  width: 100%;
  font-weight: 600;
  flex: none;
  flex-wrap: wrap;
  flex-grow: 0;
}
.genre {
  /* Frame 227 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0px 1vw;
  gap: 0.5vw;
  /* height: inherit; */
  font-weight: 250;
  background: #464646;
  border-radius: 5.67048px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.movie-info .overview {
  position: relative;
  width: 75%;
  font-family: "Poppins";
  font-style: normal;
  text-align: left;
}
.movie-info p {
  font-weight: 300;
}

.director {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-weight: 300;
}
.director p {
  font-weight: 600;
}
.producer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-weight: 300;
}
.producer p {
  font-weight: 600;
}
.writer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-weight: 300;
}
.writer p {
  font-weight: 600;
}
.stars {
  height: 100%;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .frame1 {
    width: 100%;
  }
  .detail-header-item {
    /* height: 100%; */
    width: 100%;
  }
  .detail-title {
    font-size: 4rem;
  }
}
@media screen and (min-width: 300px) and (max-width: 599px) {
  .frame1 {
    width: 100%;
  }
  .detail-header-item {
    /* height: 100%; */
    width: 100%;
  }
  .detail-title {
    font-size: 2rem;
  }
}
@media screen and (min-width: 100px) and (max-width: 300px) {
  .frame1 {
    width: 100%;
  }
  .detail-header-item {
    /* height: 100%; */
    width: 100%;
  }
  .detail-title {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1701px) {
  html {
    font-size: 145%;
  }
}
