.movie-list .swiper-slide {
  width: 20%;
}

/* Tablet screen */
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .movie-list .swiper-slide {
    width: 30%;
  }
}

/* Mobile screen */
@media screen and (max-width: 599px) {
  .movie-list .swiper-slide {
    width: 45%;
  }
}

/* .movie-list .swiper {
    overflow: visible;
} */

.movie-list {
  padding: 20px 0; /* Add padding to accommodate the hover effect */
  margin: -20px 0; /* Negative margin to compensate for the padding */
}

.movie-list .swiper {
  padding: 20px 0; /* Add padding to the swiper */
}

.movie-list .swiper:hover {
  padding: 20px 20px; /* Add padding to the swiper */
}
.movie-list .swiper-wrapper {
  display: flex;
  align-items: center;
}

/* .movie-list .swiper-slide:hover {
    transform: scale(1.1);
    z-index: 2;
} */