@import url('./css/index.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--color-primary-1-nearly-black);
  color: var(--color-accent-1-1st-white);
}

a {
  text-decoration: none;
  color: unset;
}

@media (hover: hover) {
  a:hover {
      color: var(--color-secondary-1-1st-blue);
  }
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1660px;
  margin: auto;
}

/* Extra desktop screen */
@media screen and (min-width: 1701px) {
  .container {
    max-width: 4000px;
    margin: auto;
  }  
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.section {
  padding: 0 2rem;
}

.section_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-bg{
  background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.1)),url("hero.png") !important;
}
@keyframes shimmer {
  0%{
    background-position: -1000px 0;
  }
  100%{
    background-position: 1000px 0;
  }
}
.shimmer{
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, #2c2c2c 4%, #333 25%, #2c2c2c 36%);
  background-size: 1000px 100%
}