.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.video-wrapper {
  position: relative;
  width: 100%;
  max-width: 854px; /* Optional: Limit the maximum width */
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio (height = width * 9/16) */
  height: 0;
  margin: 0 auto; /* Center horizontally */
}
.full-screen-iframe {
  width: 100%;
  height: 100%;
}
.go-back {
  width: 100%;
  padding: 1vw 1vw;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  position: absolute;

  top: 10px;
  left: 10px;
  z-index: 10; /* Ensure it appears on top of the iframe */
}

.go-back-btn {
  padding: 0.1vw;
  width: calc(19px + 3vw);
  height: calc(10px + 2.7vh);
  margin-right: 1vw;
  background-color: white;
  color: #03abe0;
  border-radius: 7%;
  opacity: 0.2;
  transition: 0.1s ease-in-out;
}
.go-back-btn:hover {
  opacity: 0.9;
}
.full-scr-iframe {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
}
