/* Tablet screen */
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .movieCard {
    width: 30%;
  }
}
/* Mobile screen */
@media screen and (max-width: 599px) {
  .movieCard {
    width: 45%;
  }
}
.movieCard {
  flex: 1 1 30%; /* Allow the card to grow and shrink, with a base width of 30% */
  max-width: 400px; /* Set a minimum width to prevent cards from becoming too small */
  min-width: 1vw;
}
.search-movie-list {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px; /* Adjust the gap between cards as needed */
  justify-content: center;
  align-items: center;
  margin-top: 6rem; /* Add padding to the top to position it under the header */
  min-height: 60vh;
}
.searchresult {
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0;
  max-width: 1660px;
  min-height: 100vh;
  margin: auto;
}

@media screen and (min-width: 1701px) {
  .searchresult {
    max-width: 4000px;
    margin: auto;
  }
}

.query-value {
  width: 100%;
  align-items: center;
  text-align: center;
  position: relative;
  top: 5rem;
  font-weight: 400;
  font-size: 1.5rem;
  text-decoration: inherit;
}
.loading {
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
  height: 100vh;
}
